{% extends "base.html" %}

{% block cuerpo %}
    <h1> ¿quienes somos? </h1>
    <p>
        Descubre las mejores ofertas en vuelos baratos junto a Despegar, la agencia
        de viajes online más importante de América Latina, con la mayor variedad de
        opciones para tu viaje. Aquí podrás elegir tus pasajes aéreos entre más de
        250 aerolíneas, que te permitirán gozar de muchas promociones tanto en 
        vuelos nacionales como internacionales. En esta plataforma tendrás la 
        posibilidad de comparar los servicios de todas las empresas aéreas que 
        cubran la ruta de tu interés, y las tarifas en distintos períodos del año,
        incluso encontrarás cómo varían día a día para poder disfrutar de los
        vuelos baratos más económicos. Pero esto no es todo, en Despegar también
        obtendrás beneficios en otros productos al adquirir tus pasajes aéreos
        baratos, al realizar una reserva de hoteles o alquilar un auto. A la hora de
        abonar tus compras, puedes hacer tus pagos en hasta en 12 pagos, con distintas
        tarjetas de crédito, en efectivo o a través de tu banca por Internet. Descubre
        la manera más sencilla de organizar todo lo que necesitas para tu viaje con 
        tan solo unos clics desde la comodidad de tu casa. Los pasajes aéreos más 
        baratos hacia tu próximo destino te esperan en Despegar. ¡Haz ya mismo tu 
        reserva y disfruta de la forma más fácil de viajar!
    </p>

    <h4>¿POR QUE SELECCIONAR UN SITIO?</h4>
    <p>
        En Despegar puedes comprar tus pasajes aéreos al mejor precio y con la mejor
        financiación. Consigue vuelos baratos para viajar donde quieras y haz que 
        el cielo sea tu límite. Hay una gran variedad de pasajes de avión, aerolíneas 
        y destinos para que elijas el que más te conviene. Encuentra los mejores 
        vuelos y ¡prepárate para viajar!
    </p>

    <h4>¿QUE DEBES DE EQUIPAR?</h4>
    <p>
        Algunas aerolíneas ofrecen tarifas de pasajes de avión muy bajas, pero que 
        solo incluyen equipaje de mano. Antes de seleccionar tu vuelo, chequea toda 
        la información de equipaje incluido, para saber cuántas maletas puedes llevar. 
        Recuerda que en Despegar te brindamos diferentes opciones de servicios para 
        que tengas una excelente experiencia de vuelo.
    </p>

    <h4>TIPS PARA SELECCIONAR UN SITIO</h4>
    <p>
        Cuando busques tus pasajes aéreos, ten en cuenta el aeropuerto del cual sale 
        y al cual llega, la relación precio/duración del vuelo, y el equipaje incluido 
        en tu tarifa. Algunos vuelos baratos pueden tener muchas escalas y no incluir 
        equipaje. Si tu vuelo tiene escalas, chequea si implica un cambio de aeropuerto.
    </p>

    
{% endblock %}
