<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        
        {% block estilo %} {% endblock %}   
        {% block js %} {% endblock %}
    </head>
    
    <body>
        <h1>Eliga la ciudad que desea conocer</h1>
        <a href="http://127.0.0.1:8000/home/"> Home </a>
        <a href="http://127.0.0.1:8000/about/"> About us </a>
        <a href="http://127.0.0.1:8000/contact/"> Contact </a>
        <a href="http://127.0.0.1:8000/ofertas/"> Ofertas </a>

        {% block cuerpo %}
        {% endblock %}
    </body>
</html>