{% extends 'home.html' %}
{% block title %} 🌇 MONTEVIDEO 🌇 {% endblock %}

    {% block cuerpo %} 
        <h1> MONTEVIDEO 🌇 🌇 </h1>

        <img src="https://aldianews.com/sites/default/files/articles/montevideo_grande.jpg" width="500" height="400">
        <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/0a/ff/66/e5.jpg" width="500" height="400">
        <img src="https://i.pinimg.com/originals/5a/42/b7/5a42b75eed726c6583917278a95b2bd4.jpg" width="500" height="400">
        
        <h3><b> INFORMACIÓN </b></h3>
        
            <ul>NOMBRE: </ul>
            <ul>PAIS: </ul>
            <ul>DEPARTAMENTO: </ul>
            <ul>DESCRIPCIÓN: </ul>
            <ul>PRECIO: </ul>
        
        <br><br><br>
        <a href="#"> RESERVAR VISITA </a>

    {% endblock %}